<% include ../partials/boilerplate%>


    <h1>All todo's</h1>


<a href="/todos/add"><button>Add Todo</button></a>
<div class='todo-container'>
    <% for(let todo of data){%>
        <div class='todo'>
            <div class='top'>
                <h2 class='title'><%= todo.title%></h2>
                <h3 class='status'><%= todo.status%></h3>
            </div>
            <div class='bottom'>
                <div class='bottomleft'>
                    <h3 class='category'><%= todo.category%></h3>
                </div>
                <div class='bottomright'>
                    <a href="/todos/<%=todo.id%>">Info</a>
                    <a href="/todos/<%=todo.id%>/edit">Edit</a>
                    <form method='POST' action='/todos/<%= todo.id %>?_method=DELETE'>
                        <input type='submit' value='Delete' />
                    </form>
                </div>
            </div>

        </div>
    <%}%>
</div>


<% include ../partials/end %>